<header>
    <nav class="nav">
        <p>REVALISSO</p>
        <div>
            <a class="h-10 flex items-center hover:bg-gray-100 p-3" routerLink="/">Inicio</a>
            <a class="h-10 flex items-center hover:bg-gray-100 p-3" routerLink="/about">Nosotros</a>
            <a class="h-10 flex items-center hover:bg-gray-100 p-3" routerLink="/products">Productos</a>
            <a class="h-10 flex items-center hover:bg-gray-100 p-3" routerLink="contact">Contacto</a>

            @if(isLoggedIn()) {
            <button (click)="logout()" class="h-10 flex items-center hover:bg-gray-100 p-3 text-xl">Logout</button>
            <a class="h-10 flex items-center hover:bg-gray-100 p-3" routerLink="/profile">{{authService.getUserData()?.nombre}}</a>
            } @else {
            <a class="h-10 flex items-center hover:bg-gray-100 p-3" routerLink="/login">Iniciar Sesión</a>
            }
        </div>
    </nav>

</header>