<div class="portada_info">
sadasda
sadasdasad
sad
Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero rerum odit adipisci nam quos fugit tenetur. Eligendi nostrum, molestiae, itaque totam excepturi ipsa doloremque ea fugiat nam quas nesciunt sit?
    <div class="contenido_comienzo">
        <h1>
            Tu ropa vale más de lo que imaginas.
        </h1>
        <p>Intercambia tu ropa usada por puntos y transfórmalos <br />en dinero o beneficios reales.
            Más que reciclar, aquí revalorizas.
        <div class="botones">
            <button>Intercambiar ahora</button>
            <button>Explorar beneficios</button>
        </div>
        
    </div>

</div>