<p class="about_1">
    En Revalisso, creemos que cada prenda merece una segunda oportunidad.<br />
    Conectamos a personas que desean liberar su ropa usada con una plataforma <br />
    que transforma     esas prendas en puntos, beneficios y recompensas reales. <br />
    Impulsamos una economía circular, consciente y justa, donde intercambiar es <br />
    ganar y el impacto positivo comienza desde tu clóset. Porque vestir con propósito <br />
    no solo es posible, también puede tener estilo y valor.
</p>