@use '@angular/material' as mat;

// Definir una paleta primaria
$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Crear el esquema de colores
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

// Incluir estilos de Angular Material con tu tema
@include mat.all-component-themes($my-theme);
