<div class="register-container">
    <div class="reg-container_1">
        <h4>Revalisso <i class="fa-solid fa-recycle" style="color: #000000;"></i></h4>
        <br />
        <h2>Registro</h2>

        <form [formGroup]="form" (ngSubmit)="register()">

            <!-- Nombres -->
            <div class="form-group">
                <label for="nombres">Nombres:</label>
                <input type="text" id="nombres" formControlName="nombres" placeholder="Tus nombres">
                @if (form.get('nombres')?.touched && form.get('nombres')?.hasError('required')) {
                <div class="error">Los nombres son obligatorios</div>
                }
            </div>

            <!-- Apellidos -->
            <div class="form-group">
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" formControlName="apellidos" placeholder="Tus apellidos">
                @if (form.get('apellidos')?.touched && form.get('apellidos')?.hasError('required')) {
                <div class="error">Los apellidos son obligatorios</div>
                }
            </div>

            <!-- Correo -->
            <div class="form-group">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" formControlName="correo" placeholder="ejemplo@correo.com">
                @if (form.get('correo')?.touched && form.get('correo')?.hasError('required')) {
                <div class="error">El correo es obligatorio</div>
                } @else if (form.get('correo')?.touched && form.get('correo')?.hasError('email')) {
                <div class="error">El formato del correo es inválido</div>
                }
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" formControlName="password" placeholder="********">
                @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
                <div class="error">La contraseña es obligatoria</div>
                }
            </div>

            <!-- Celular (opcional) -->
            <div class="form-group">
                <label for="celular">Celular (opcional):</label>
                <input type="tel" id="celular" formControlName="celular" placeholder="999-999-999">
            </div>

            <button type="submit" [disabled]="form.invalid">Registrarme</button>
        </form>

        <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
    </div>

    <div class="reg-container_2">
        <img src="../../../assets/img/donations.png" alt="donations_img">
    </div>

    <script src="https://kit.fontawesome.com/c353473263.js" crossorigin="anonymous"></script>
</div>